.header {
    display: flex;
    justify-content: space-between;
}

.btnDiv {
    display: flex;
    align-items: center;
}

.btn {
    width: fit-content;
    height: fit-content;
    background-color: rgb(0, 108, 93);
    color: white;
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}